/*Font definitions*/
*
{
  font-family: 'Roboto', sans-serif;
}
/*Main*/
main
{
  width:100%;
  background-color:#e6e6e6;
  color:#162d50 !important;
}
/*Navigation*/
.nav
{
  padding-bottom:0;
  border-radius:0px;
  font-size:14px;
  background-color:#212121;
}

.nav a
{
  color:#888;
  /*color:#337ab7;*/
  border-bottom:4px solid transparent;
  transition: 0.3s;
}
.nav a:hover
{

  background-color:transparent !important;
  color:#eee;
}

ul.nav li.active a,
ul.nav li.active a:hover
{
  border-bottom:4px solid #eee;
  /*background-color:#273755;*/
  color:#eee;
}


/*Landing*/
.full-height
{
  width:100%;
  background-size:cover;
  height:100vh;
}
.landing
{
  padding-top:10em;
  width:100%;
  background-image:url("../images/landing-bg.jpg");
  background-size:cover;
  margin:auto;
  background-position:bottom;
  background-repeat:no-repeat;
}

.card
{
  background-color:#fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding:1.5em;
  margin-top:1em;
  margin-bottom:2px;
}

.card-fixed
{
  min-height:40vh;
}
.large-text
{
  font-size:150%;
}
.light-text
{
  font-weight:300;
}
.landing-card
{
  background-color:rgba(255,255,255,0.8);
}

.half-height
{
  min-height:50vh;
}
/*Buttons for the landing card*/
.btn.btn-light,
.btn.btn-light:focus,
.btn.btn-light:visited
{
  border-radius:0;
  border-color:#eee;
  color:#eee;
  transition:0.3s;
}

.btn.btn-light:hover
{
  text-decoration:none;
  background-color:#eee;
  color:#212121;
}

.btn-landing
{
  border-radius:0px;
  color:#fff;
  padding:12px;
  font-size:125%;
}

.btn.btn-default
{
  background-color:transparent;
  border-radius:0;
  color:#162d50;
  border: 1px solid #162d50;
  transition:0.3s;
}

.btn.btn-default:hover
{
  background-color:#162d50;
  color:#fff;
}

#btn-landing-get,
#btn-landing-get:visited,
#btn-landing-get:focus
{
  background-color:#ff7f2a;
  transition:0.3s;
}

#btn-landing-get:hover
{
  background-color:#ce5c11;
  color:#fff;
}

#btn-landing-learn,
#btn-landing-learn:visited,
#btn-landing-learn:focus
{
  background-color:#4ab979;
  transition:0.3s;
}
#btn-landing-learn:hover
{
  background-color:#2f8d57;
  color:#fff;
}

.icon-btn,
.icon-btn:visited,
.icon-btn:focus
{
  color:#162d50;
  transition:0.5s;
}

.icon-btn:hover
{
  color:#ea6d1b;
}
/*Footer*/
.footer
{
  background-color:#212121;
  color:#aaa;
}

.footer-list
{
  padding-left:0;
}
.footer a,.footer a:visited,.footer a:focus
{
  text-decoration:none;
  color:#bbb;
  transition:0.2s;
}

.footer a:hover
{
  color:#eee;
  text-decoration:underline;
}
.footer ul
{
  list-style:none;
}

.footer ul li
{
  line-height: 1.5;
}

.divider
{
  width:100%;
  border-bottom:1px solid #4d4d4d;
}
/*Only display this on medium devices and updated*/
@media only screen and (min-width: 768px) {
    .nav .navbar-collapse {
        margin-left:35%;
    }
}

/*Features*/
#features_main
{
  background-color:#808080;
}
.overlay-dark
{
  height:inherit;
  background-color:rgba(0,0,0,0.5);
}
.overlay-light
{
  height:inherit;
  background-color:rgba(255,255,255,0.6);
}
.card-dark
{
  overflow: auto;
  background-color:rgba(0,0,0,0.75);
  height:inherit;
  min-height:inherit;
  color:#ccc;
}

.card-dark-fade
{
  /*background:#212121;*/
  background: linear-gradient(#212121ff, rgba(0,0,0,0.75)); /* Standard syntax */
}

.spread-text
{
  line-height:1.4em;
}

.card-pricing
{
  background-color:#fff;
  border:2px solid #bbb;

}
#feature_landing
{
    background-image:url("../images/bg.jpeg");
    background-position:center;
    /*color:#212121;*/
}

#classrooms
{
  background-image:url("../images/classrooms.jpeg");
}

#assignments
{
  background-image:url("../images/assignments.jpeg");
}

#tests
{
  background-image:url("../images/tests.jpeg");
}

#schedules
{
  background-image:url("../images/schedules.jpeg");
}

#superuser
{
  background-image:url("../images/superuser.jpeg");
}

/*Pricing*/
#pricing-landing
{
  background-image:url("../images/pricing-landing.jpg");
  color:#fff;
}
.pricing-list
{
  list-style-type: none;
}

.price-box
{
  min-height:60vh;
}

.pricing-list .checkbox *
{
  font-size:18px;
}
